<table class="table table-no-border" id="influencers">
	<thead>
		<tr>
			<th>Influencer</th>
			<th class="text-center">MScore</th>
			<th class="text-center">Followers</th>
			<th class="text-center">Action</th>
		</tr>
	</thead>
	<tbody>
		<%@influencers.each do |influencer|%>
		<tr>
			<td class="col-md-6 clearfix">
				<div class="avatar">
					<img class="img-circle" src="<%=influencer[:avatar]%>" />
				</div>
				<div class="profile">
					<div class="name">
						<a href="#" class="fullname"><%=influencer[:fullname]%></a> <span class="username">@<%=influencer[:username]%></span>
					</div>
					<div class="bio"><%=influencer[:bio].html_safe%></div>
				</div>
			</td>
			<td class="col-md-2 text-center mscore"><%=number_with_delimiter(influencer[:mscore])%></td>
			<td class="col-md-2 text-center followers"><%=number_with_delimiter(influencer[:followers])%></td>
			<td class="col-md-2 text-center clearfix action">
				<a href="#"><div class="google_plus btn_action"></div></a>
				<a href="#"><div class="send_email btn_action"></div></a>
				<a href="#"><div class="twitter btn_action"></div></a>
			</td>
		</tr>
		<% end %>
	</tbody>
</table>
