<!DOCTYPE html>
<html>
	<head>
		<title>MessageMovr</title>
		<meta http-equiv="cache-control" content="max-age=0" />
		<meta http-equiv="cache-control" content="no-cache" />
		<meta http-equiv="expires" content="0" />
		<meta http-equiv="pragma" content="no-cache" />

		<meta name="keywords" content="MessageMovr" >
		<meta name="description" content="MessageMovr" >

		<%= csrf_meta_tags %>
		<%= javascript_include_tag "application" %>

		<%= stylesheet_link_tag  "application", :media => "all" %>
	</head>
	<body>

		<%= render 'layouts/authentication' %>

		<span id="header_bar_menu">
			<% if params[:controller] == "site" && params[:action] == "index"%> 
			<%= render 'layouts/header_index' %>
			<% else %>
			<%= render 'layouts/header' %>
			<% end %>
		</span>

		<div id="main" class="container" >
			<%= yield %>
		</div>

		<span style="margin-top: 100px; display: block;"> <%= render 'layouts/footer' %> </span>
	</body>
</html>
